

.channelControlButtonLI {
    
    margin-right:10px;
    width:60px;display:inline;list-style-type:none;
}


.channelControlButtonImage {
    
    width:60px;
    height:60px;
}


.channelProgrameListOperButton {
    
    height:30px;
    width:30px;
    margin-bottom:5px;
}
